@{
    ViewBag.Title = "Welcome to Coffee & Co";
}
<h2>@ViewBag.Title.</h2>


<hr />
<h3>Your official source for subscription-based java beans.</h3>
(and other coffee accoutrements)<br /><br />
Sign up on the registration page!
